/*Just Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
};


@import url('https://fonts.googleapis.com/css?family=Dosis:300,700');

.root{
    text-align: center;
}

.Login{
    float: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    width: 30%;
    padding: 2rem;
    line-height: 3rem;
    font-family: 'Dosis';
}

.FormInput{
    text-align: center;
    width: 80%;
    height: 1.5 rem;
    border-radius: 3px;
    padding: 0.5rem;
}

.LoginButton {
    background-color: #6f36b7;
    color: white;
    width: 35%;
    height: 2.3rem;
    border-radius: 5px;
}   

.LoginTitle{
    font-size: 2rem;
    padding: 1rem;
    color: #6f36b7;
}

.Error{
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
    color: red;
}