/*Just Resets */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@import url("https://fonts.googleapis.com/css?family=Dosis:300,700");

.root {
  text-align: center;
}

.Form {
  float: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  width: 30%;
  padding: 2rem;
  line-height: 3rem;
  font-family: "Dosis";
}

.FormInput {
  text-align: center;
  width: 80%;
  height: 1.5 rem;
  border-radius: 3px;
  padding: 0.5rem;
}

.LoginButton {
  background-color: #6f36b7;
  color: white;
  width: 35%;
  height: 2.3rem;
  border-radius: 5px;
}

button[disabled].LoginButton {
  background-color: #9077b1;
}

.LoginTitle {
  font-size: 2rem;
  padding: 1rem;
  color: #6f36b7;
}

.Error {
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  color: red;
}

.Loading {
  text-align: center;
  width: 100%;
  font-size: 0.9rem;
  color: rgb(0, 0, 0);
}
.UserList {
  float: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  align-items: baseline;
  text-align: left;
  line-height: 2rem;
}

.UserCard {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2px 16px;
  border-radius: 5px;
  height: 50%;
  width: 100%;
}

.UserCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.PageButton {
  background-color: #7d629e;
  color: white;
  width: 50%;
  height: 2.3rem;
  border-radius: 5px;
}
